<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Spoti-bot</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Play&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="primary">
      <div class="modal-window">
        <div class="thumbnail-img">
          <img class="spoti-bot" src="../static/spoti_bot.jpg" />
        </div>
        <div class="thumbnail-text">
          <h2>Авторизация прошла успешно, вы можете закрыть эту страницу</h2>
        </div>
      </div>
    </div>
  </body>
</html>
